[Unit]
Description=Matter smart home device
After=bluetooth.target avahi-daemon.service wpa_supplicant.service
Requires=bluetooth.target avahi-daemon.service wpa_supplicant.service

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/bin/matterd --wifi
Restart=always

[Install]
WantedBy=multi-user.target
