[Unit]
Description=Matter smart home device
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/matterd --wifi
Restart=always

[Install]
WantedBy=multi-user.target
